:root {
    --main:skyblue;
    --textback: darkcyan;
    --navbar:aliceblue;
    --background:blanchedalmond;
}
body {
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--main);
    background-color: var(--background);
    line-height:1.5;
}

/* h1,h2,h3,h4,h5 {
    margin:0;
} */

h1 {
    color:var(--navbar);
    background-color: var(--textback);
    padding: 5px 10px 5px 70px;
    /* margin: 0; */
    font-size:45px;
    line-height:1.3;
}

/* p {
    margin:0;
} */

header {
    padding: 15px 60px 15px 0;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    background-color: var(--navbar);
    box-shadow: 0 5px 35px darkgrey;
}

nav {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

nav a {
    text-decoration: none;
    padding: 5px 10px;

    
}

/* .aboutme {
    text-align: center;
} */

.page-section {
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items: stretch; */
    justify-content: space-between;
  }

.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 20px;
  border-right: 8px double var(--main);
  font-size: 80px;
  line-height: 1.25;
}

.page-section p {
    display: flex;
    justify-content: right;
    padding-left: 400px;
    padding-right: 45px;
    text-align: right;
}

.project-item {
    border:5px solid var(--textback);
    background-color: var(--main);
    color: var(--navbar);
    min-height:200px;
    max-height:200x;
    flex-basis: 50%;
    display: flex;
    margin: 10px;
    text-decoration: none;
    background-blend-mode:darken;
    background-size: 50%;
    transition: all 0.5s;
    font-size: 50px;
     /* align-items: flex-end; */
    /* padding: 0 0 20px 0; */
}

.project-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.project-item div {
    background-color: var(--textback);
    padding: 10px 10px;
}

.project-item h3 {
    font-size: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language {
    color:green;
}

.contact contactBar {
    display: flex;
    /* flex-wrap:wrap; */
    /* justify-content: space-around; */
    align-items:center;
    /* height: 100%; */
}

.contact contactBar a {
    color: var(--navbar);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    /* font-style: normal; */
    background-color: black;
    /* background-repeat: no-repeat; */
    /* background-size: 100% 0.2em; */
    /* background-position: bottom; */
    transition: all 0.25s ease-in;
    margin: 0 2px 1px;
    /* display:inline-block; */
}

.contact contactBar a:hover {
    background-size:100% 88%;
    color:var(--textback);
}

/* Portfolio Project Images - add screenshot of projects when finished */
.coming-soon {
    background-image: url("./images/coming-soon.jpg");
}